.conteneur {
  -fx-border-width: 0.8em;
  -fx-alignment: center;
}

#vue-racine {
  -fx-background-color: orange;
}

#vue-file-attente {
  -fx-background-color: orange;
}

.gros-bouton {
  -fx-padding: 0.6em 1.15em 1.15em 1.15em;
  -fx-background-insets: 0, 0 0 0.4em 0, 0 0 0.45em 0, 0 0 0.5em 0;
  -fx-background-radius: 0.6em;
  -fx-background-color: linear-gradient(
      from 0% 93% to 0% 100%,
      #a34313 0%,
      #903b12 100%
    ),
    #9d4024, #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.4em, 0, 0, 0.1em);
  -fx-font-weight: bold;
  -fx-font-size: 1.1em;
}

.gros-bouton:pressed {
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
}

.gros-bouton:hover {
  -fx-cursor: hand;
}
